@import url('https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{  font-family: "Anta", sans-serif;
    margin: 0px;
    padding: 0px;
}

.main{
    background-color: #FAF9F6 ;
    transform:scale(1.2);
    margin: auto;
    margin-top: 9rem;
    height: 25rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: inset 0px 0px 4px 2px rgba(196, 194, 194, 0.937), 2px 0px 4px  rgba(34, 30, 30, 0.829);
}
input{
    padding: 0.1rem;
    background-color: #FAF9F6 ;
    margin-top: 1.8rem;
    outline: none;
    width: 85%;
    height: 2.5rem;
    box-shadow: inset 2px 4px 10px 0 rgba(177, 174, 174, 0.784);
    border-radius: 1rem;
    border: none;
    text-align: right;
    font-size: 1.5rem;
}
.int{
    height:2rem;
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
}
button{
    font-weight: bold;
    border: none;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px 2px rgba(236, 235, 235, 0.937), 2px 0px  4px rgba(34, 30, 30, 0.667);
     background-color: #FAF9F6 ;
     
}
button:active{
    box-shadow: inset 0px 0px 4px 2px rgba(236, 235, 235, 0.937), 2px 0px  2px rgba(147, 138, 138, 0.667);
    transform: scale(0.93);
}
#lastRow{
   margin-bottom: 0.5rem;
}
#lastRow div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#equal{
    width: 40%;
    border-radius: 2rem;
}

@media (max-width:768px) {
    input{
        pointer-events: none;             
    }
}